.wrapper {
	display: grid;
	grid-template-columns: auto 230px minmax(320px, 1200px) auto;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		". header header ."
		". sidebar main ."
		"footer footer footer footer";
	gap: 0 30px;

	min-height: 100vh;
}

.header {
	display: none;
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;
}

.main {
	grid-area: main;
}

.footer {
	grid-area: footer;
}

@media (max-width: 765px) {
	.wrapper {
		grid-template-columns: minmax(320px, 1fr);
		grid-template-areas:
			"header"
			"main"
			"footer";
	}

	.header {
		display: block;
	}

	.sidebar {
		display: none;
	}
}
