.menu ul {
	padding-inline-start: 0;
}

.menu li {
	list-style: none;
}

.firstLevel {
	display: grid;

	align-items: center;

	margin-top: 20px;

	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	grid-template-columns: 24px 1fr;
	gap: 20px;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.secondLevel {
	display: block;

	margin-bottom: 10px;

	cursor: pointer;
	text-transform: uppercase;

	color: var(--gray-dark);

	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
}

.secondLevelBlock {
	display: none;
}

.secondLevelBlockOpened {
	display: block;
}

.secondLevelBlockOpened:last-child {
	margin-bottom: 20px;
}

.secondBlock {
	margin-top: 15px;
	margin-left: 12px;
	padding-left: 24px;

	border-left: 1px solid #DFDFDF;
}

.thirdLevel {
	display: block;

	margin-bottom: 5px;

	cursor: pointer;

	color: var(--gray-dark);

	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
}

.thirdLevel:hover,
.thirdLevelActive {
	color: var(--primary);
}
